<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="" method="POST">
        <input type="email" name="email" placeholder="email" id="">
        <input type="password" name="pass" placeholder="contraseña" id="">
        <input type="checkbox" name="recordar" id="recorar">
        <label for="recordar">Recordarme</label>
    
            <button type="submit">Ingresar</button>
    </form>
    <% if(typeof errores != 'undefined'){ %> <!-- Si hay errores -->
        <ul>
            <% errores.forEach(cadaError=>{ %> <!-- de los errores que tengo que recorra cada objeto -->
                <li> <%= cadaError.msg %> </li>  <!-- muestra el mensaje -->
            <% }) %>
        </ul>

    <% } %> 

</body>
</html>